.form{
    width:100vw;
    display: flex;
    flex-direction: column;
    padding: 4rem 7%;
    align-items: center;
}
#myBox{
    width: 100%;
    padding: 2rem;
    font-size: 1.2rem;
    margin-top: 3rem;
}
label{
    font-size: 2rem;
    font-weight: bold;
    color: gray;
    text-decoration: underline;
    transition: .3s ease;
}
label:hover{
    color: rgb(225, 37, 225);
}
.btn{
    cursor: pointer;
    margin-left: 7%;
    width: auto; 
    padding: 0rem 2rem;
    height: 3rem;
    font-weight: 600;
    background-color: rgb(225, 37, 225);
    color: white;
    border: 0px;
    
    border-radius: .5rem;
}

